<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hello, World!  This is Andres  </title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1 class="text-center text-uppercase">Stock Application </h1>
		</div>
		<div>
		  <h2 class="text-center text-lowercase">Please select a Stock</h2>
		</div>
		<form method="post" action="index" id="stockForm">
			<label>Enter your stock:</label>
			<input type="text" name="selectedStock">
			<p>
		  	<label>
		    	<input type="checkbox" name="TypeOfPrice" value="1" id="TypeOfPrice_0">
		    	Open Price</label>
		 	 <br>
		  	<label>
		    	<input type="checkbox" name="TypeOfPrice_" value="2" id="TypeOfPrice_1">
		    	Close Price</label>
		  	<br>
		  	<label>
		    	<input type="checkbox" name="TypeOfPrice_" value="3" id="TypeOfPrice_2">
		    	High</label>
		  	<br>
		  	<label>
		    	<input type="checkbox" name="TypeOfPrice_" value="4" id="TypeOfPrice_3">
		    	Low</label>
		  	<br>
		  	<input type="submit">
    		</p>
    	</form>
	</body>
</html>
